* {
    
    box-sizing: border-box;
}
header {
    padding: 30px;
    background-color: rgb(34, 138, 151);
    }
    header h1 {
        text-align: center;
        font-size: 60px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    main {
        background-color: rgb(227, 232, 236);
        text-align: center;
        font-size: 30px;
        
    }
    div a:hover{
        background-color : rgb(32, 31, 31);
    color: #eee;
    }
    h2{
        border: 1px solid black;
    }
    footer a {
        text-decoration: none;
        padding: 10px;
        text-align: right;
        color: black;
    }